{% extends "base.html" %}

{% block top %}
	<h4>Note ID: {{note.Report}}</h4>
	<h4>Number of reports: {{note.labeled_reports}}</h4>
<!--	<h4>Regex matched: {{note.regex}} </h4>-->
{%endblock %}
{% block questions %}
	<form method='POST' action="{{ url_for('index', user=user) }}">
		{{form.hidden_tag()}}
 
		<div style = font-size:20px; font-weight:bold; margin-left:150px;>
 <!--           <div id="namestore">
                Researcher name:<br>
                <input type="text" id="fname" required>
                <br>
                <input type="submit" style="width: 500px" align="middle">
                       </div>
            <script>
                if(typeof(Storage) !== "undefined")
                {
                    localStorage.setItem("Name",document.getElementByID("fname"))
                }
                else
                {
                    //other code
                }
            </script>-->
        <!-- </div> -->
           <style>
            #intexttext{
                font-size:90%;
            font-family:verdana;
            background-color:lightsteelblue;
            color:#1E1E8C;
            padding: 10px 15px;
            width:80%
                margin: 20px 0;
            border:4px solid darkblue;
            border-radius:4px;
            }
               #checkboxes{
                   float: center;
                   margin: 0 auto;
               }
        </style>
			<p>
				3) {{form.kidney.label}}
                {% for subfield in form.kidney %}
                    <tr> <br>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
			</p>
            
	<p style='display:none'>
				{{form.initial_time.label(id='intextdescription')}} <br>{{ form.initial_time(cols="42",rows="3",id='intexttext') }}
                {% for error in form.initial_time.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
            
			<p>
				{{form.description.label(id='intextdescription')}} <br>{{ form.description(cols="42",rows="3",id='intexttext') }}
                {% for error in form.description.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			{{form.send}}
		</div>
	</form>
{%endblock %}
{% block content %}
        <p id="maintext"><font size="5"> {{note.note_text}} </font></p>
	
{% endblock %}