<html>
    <style>
        body {
            float: center;
            margin: 0 auto;
            font-family: verdana;
            font-size:100%;
            border:20px lightsteelblue;
            width: 70%;
            background-color:#7FB3D5;
            color: #1E1E8C;
        }
        
    </style>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div>
            <b>Welcome!!</b>
            
        </div> 
        <form method="POST" action="{{ url_for('home') }}">
            {{ form.hidden_tag() }}
            <div id='text'; align="center"; font-size="250%">
            <font size=5>
                <h4>Please, select your name:</h4>
            {{form.names.labels}} {{form.names}}
            {% for error in form.names.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{form.submit}}
                </font>
            </div>
        </form>
    </body>
</html>