<html>
    <style>
        body {
            float: center;
            margin: 0 auto;
            font-family: verdana;
            font-size:100%;
            border:20px lightsteelblue;
            width: 70%;
            background-color:#7FB3D5;
            color: #1E1E8C;
        }
    </style>
    <body>
        <form method="POST" action="{{ url_for('template_time') }}">
            {{ form.hidden_tag() }}
            <div id='text'; align="center"; font-size="250%">
            <font size=5>
                <h4>Please, press start to continue labeling:</h4>
            {{form.submit}}
                </font>
            </div>
        </form>
    </body>
</html>